### Retrieving data from the CSV file

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

data = pd.read_csv('Bank Customer Churn Prediction.csv')

data.head()

data.iloc[0:, 0:5]

data.loc[0:4]

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [2]:
data_iris = pd.read_csv('Iris.csv', names = ['Id','SepalLength','SepalWidth','PetalLength','PetalWidth','Specimens'])

In [27]:
data_iris

,Id,SepalLength,SepalWidth,PetalLength,PetalWidth,Specimens
0,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
1,1,5.1,3.5,1.4,0.2,Iris-setosa
2,2,4.9,3.0,1.4,0.2,Iris-setosa
3,3,4.7,3.2,1.3,0.2,Iris-setosa
4,4,4.6,3.1,1.5,0.2,Iris-setosa
...,...,...,...,...,...,...
146,146,6.7,3.0,5.2,2.3,Iris-virginica
147,147,6.3,2.5,5.0,1.9,Iris-virginica
148,148,6.5,3.0,5.2,2.0,Iris-virginica
149,149,6.2,3.4,5.4,2.3,Iris-virginica
150,150,5.9,3.0,5.1,1.8,Iris-virginica

In [3]:
data_iris = data_iris.drop(['Id'], axis=1)

In [4]:
data_iris

       SepalLength    SepalWidth    PetalLength    PetalWidth       Specimens
0    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[151 rows x 5 columns]

### Retrieving data from JSON

In [11]:
# json = pd.read_json('EntityExtractor.json')
# json

In [9]:
import json

f = open('EntityExtractor.json')

data = json.load(f)
# f.read()
data.keys()

dict_keys(['uri', 'mimeType', 'text', 'pages', 'entities'])

In [12]:
data_iris.to_csv('iris_dataset_samples.csv')

In [14]:
# ls

### Retrieving data from SQL server

In [33]:
import psycopg2 as pg2

In [17]:
# pip install psycopg2

In [37]:
# pg2.connect(database='classic_rock.db')

In [34]:
conn = pg2.connect(database='dvdrental', user='postgres', password='Aditya@1999')

In [35]:
cur = conn.cursor()

In [30]:
cur.execute('SELECT * FROM payment')

In [28]:
cur.fetchone()

(17503,
 341,
 2,
 1520,
 Decimal('7.99'),
 datetime.datetime(2007, 2, 15, 22, 25, 46, 996577))

In [31]:
cur.fetchall()[0]

(17503,
 341,
 2,
 1520,
 Decimal('7.99'),
 datetime.datetime(2007, 2, 15, 22, 25, 46, 996577))

In [32]:
conn.close()

In [7]:
# pd.read_csv('sample.txt', delimiter=' ', header=None)

In [9]:
data['gender'].value_counts()

Male      5457
Female    4543
Name: gender, dtype: int64

In [13]:
data.isna().sum()

customer_id         0
credit_score        0
country             0
gender              0
age                 0
tenure              0
balance             0
products_number     0
credit_card         0
active_member       0
estimated_salary    0
churn               0
dtype: int64

In [16]:
data.duplicated().value_counts()

False    10000
dtype: int64