In [1]:
a = 'abc'

In [2]:
a[-1::-1]

'cba'

In [3]:
42%(10**9+7)

42

In [22]:
# l = [-1,-2,-2]
l = {99,44,76,44,100,99}

In [23]:
set(l)

{44, 76, 99, 100}

In [18]:
l.pop(2)

-3

In [24]:
max(l)

100

In [19]:
l

[-1, -2]

In [5]:
l.sort()

In [6]:
l

[-3, -2, -1]

In [8]:
nums = [4,6,5,9,3,7] 
l = [0,0,2]
r = [2,3,5]

In [12]:
def checkArithimatic(nums,l,r):
    result_array = []

    for i in range(0,len(l)):
        startIndex = l[i]
        endIndex = r[i]

        subArray = []
        subArray = nums[startIndex:endIndex+1]
        subArray.sort()

        diff = 0
        checker = 0
        for i in range(0,len(subArray)-1):
            if i == 0:
                diff = subArray[i] - subArray[i+1]
            else:
                if subArray[i] - subArray[i+1] != diff:
                    checker= 1
                    result_array.append('false')
                    break
        if checker == 0:
            result_array.append('true')

    return result_array

In [13]:
checkArithimatic(nums,l,r)

['true', 'false', 'true']

In [14]:
d = {'a':12,'b':13,'c':10}

In [15]:
len(d)

3

In [ ]:
d.

In [16]:
import sys

In [ ]:
sys.getsizeof()

In [14]:
import pandas as pd

In [15]:
frames = {'id':[1,2,3],'salary':[500,200,300]}

In [16]:
df = pd.DataFrame(frames)

In [17]:
df.sort_values(by=['salary']).iloc[-2,1]

300

In [27]:
result = {'SecondHighestSalary':[df.sort_values(by=['salary']).iloc[-2,1]]}
res = pd.DataFrame(result)

In [31]:
res.set_index('SecondHighestSalary')

Empty DataFrame
Columns: []
Index: [300]

In [36]:
df2 = df.sort_values(by=['salary'])

In [38]:
df2

   id  salary
1   2     200
2   3     300
0   1     500

In [39]:
if df2.iloc[-2,1] == df2.iloc[-1,1]:
    print('yes')
else:
    print('No')

No

In [11]:
if len(df) == 1:
    return null

3

In [40]:
df2

   id  salary
1   2     200
2   3     300
0   1     500

In [45]:
df2 = df2.append({'id':4,'salary':500}, ignore_index=True)

/var/folders/03/17q0xl853nxgk_46r8x0vbkr0000gn/T/ipykernel_35907/3658876936.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df2 = df2.append({'id':4,'salary':500}, ignore_index=True)

In [46]:
df2

   id  salary
0   2     200
1   3     300
2   1     500
3   4     500

In [47]:
df2['salary'].nunique()

3

In [51]:
df2['salary'] = df2['salary'].drop_duplicates()

In [55]:
df2 = df2.dropna()

In [56]:
df2

   id  salary
0   2   200.0
1   3   300.0
2   1   500.0

In [58]:
3//2

1

In [59]:
d = {'s':2,'l':0}

In [64]:
for k,v in d.items():
    print(k,v)

s 2
l 0

In [1]:
import numpy as np

In [10]:
mat2 = np.eye(3)

In [3]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [6]:
mat = np.ones((3,3))

In [12]:
if mat2.all() == 1:
    print('y')
else:
    print('n')

n

In [13]:
mat2

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [14]:
mat2.sort()

In [15]:
mat2

array([[0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])

In [16]:
matrix = [[0,0,1],[1,1,1],[1,0,1]]

In [20]:
matrix

[[0, 0, 1], [1, 1, 1], [1, 0, 1]]

In [17]:
matrix_backup = matrix.copy()

In [18]:
matrix_backup.sort()

In [19]:
matrix_backup

[[0, 0, 1], [1, 0, 1], [1, 1, 1]]

In [21]:
l = [1,2,3]

In [22]:
l1 = [7,6,8]

In [23]:
l = l1

In [27]:
l = ['a','b','c']

In [28]:
r = "".join(l)

In [29]:
r

'abc'

In [30]:
### Calculate the Factorial Of a number using Recursion ####

In [36]:
n = int(input('Enter the number you want to find the Factorial'))

Enter the number you want to find the Factorial3

In [37]:
def findFactorial(n):
    if n == 0:
        return 1
    else:
        return n * findFactorial(n-1)

In [38]:
findFactorial(n)

6

In [39]:
### Calculate the Fibonnacci series for n no. of iterations ###

In [62]:
no_of_iteration = int(input('Enter the number of iterations.'))

Enter the number of iterations.5

In [85]:
counter = 2
fib_sum = 0
fibo_list = [1,1]


def fibonacci(a,b):
    global counter, fib_sum, fibo_list
    if counter == no_of_iteration:
        return fib_sum
    fib_sum = a + b
    fibo_list.append(b)
    counter = counter + 1
    fibonacci(b,fib_sum)

In [88]:
print(fibonacci(a=1,b=1))

5