In [1]:
import numpy as np
import pandas as pd

In [2]:
frame = {'a':[1,2,3],'b':[4,5,6]}

In [5]:
df1 = pd.DataFrame(frame)

In [6]:
df1

   a  b
0  1  4
1  2  5
2  3  6

In [20]:
df = pd.DataFrame()

In [14]:
# df.append(df1['b'], )

In [21]:
df['a+'] = df1['a'].values

In [22]:
df

   a+
0   1
1   2
2   3

In [ ]:
df = df