In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
frame = {'abc':[90,100],'cde':[0.8,0.54],'cdc':[0.75,0.08]}

In [13]:
df = pd.DataFrame(frame)

In [14]:
df.columns = ['qw','ty','nm']

In [15]:
df

    qw    ty    nm
0   90  0.80  0.75
1  100  0.54  0.08

In [18]:
frame2 = [{'a':[90,32],'b':[89,24],'c':[56,90]}]
pd.DataFrame(frame2)

          a         b         c
0  [90, 32]  [89, 24]  [56, 90]